<div class="auth-page">
    <div class="auth-card">
        <h2>Create Account ✨</h2>
        <p class="subtitle">Join Job Portal and start your journey</p>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input formControlName="fullName" placeholder="Full Name" />
            </div>

            <div class="form-group">
                <input formControlName="email" placeholder="Email Address" type="email" />
            </div>

            <div class="form-group">
                <input formControlName="password" [placeholder]="isCompany ? 'Mobile Number' : 'Password'"
                    [type]="isCompany ? 'text' : 'password'" />
                <small *ngIf="isCompany" style="color: gray;">Use a 10-digit mobile number</small>
            </div>

            <div class="form-group">
                <input formControlName="phoneNumber" placeholder="Phone Number" type="tel" />
            </div>


            <div class="form-group">
                <select formControlName="role">
                    <option value="">Select Role</option>
                    <option value="JobSeeker">Job Seeker</option>
                    <option value="Company">Company</option>
                </select>
            </div>

            <button type="submit" [disabled]="registerForm.invalid">Register</button>
        </form>

        <p class="switch-text">
            Already have an account? <a routerLink="/login">Login here</a>
        </p>
    </div>
</div>