<app-company-create></app-company-create>
<div class="company-list-container">
  <h2 class="heading">Company Directory</h2>

  <div *ngIf="companies.length > 0; else noCompanies" class="company-grid">
    <div *ngFor="let c of companies" class="company-card">
      <div class="company-info">
        <h3 class="name">{{ c.name }}</h3>
        <p class="location"><i class="fa fa-map-marker-alt"></i> {{ c.location }}</p>
        <p class="industry">{{ c.industry }}</p>
      </div>
    </div>
  </div>

  <ng-template #noCompanies>
    <p class="empty-state">No companies found yet. Add one above! 🏢</p>
  </ng-template>
</div>
