<div class="auth-page">
  <div class="auth-card">
    <h2>Welcome Back </h2>
    <p class="subtitle">Login to continue to Job Portal</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input formControlName="email" placeholder="Email Address" type="email" />
  </div>

  <div class="form-group">
    <input formControlName="password" placeholder="Password / Mobile Number" type="password" />
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>


    <p class="switch-text">
      Don't have an account?
      <a routerLink="/register">Create one</a>
    </p>
  </div>
</div>
